%h2
	= @template.name

= image_tag @template.snapshot
%br
%br
= link_to 'Edit', edit_template_path(@template), :class => "button radius"
= link_to 'Back', templates_path, :class => "button radius alert"

